<div class="container pt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>今月の読了数ランキング(<%= @this_month %>月)</h3>
      <% count = 0 %>
      
      <ul class="list-unstyled mt-3">
        <% @rank_hash.each do |user, book_count| %>
          <% count += 1 unless book_count == @one_above_count %>
          <% if count >= 11 %>
            <% break %>
          <% end %>
          <li class="post">
            <h4>
              <%= count %>位 <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
              <%= link_to user.name, user_path(user) %> <span class="badge badge-info"><%= book_count %>冊</span>
            </h4>
            <% if user.books.present? %>
              <div class="post-book">
                <h5>最近追加した本</h5>
                <div>
                  <%= user.books.last.title %>
                </div>
                <div>
                  <% if user.books.last.img.present? %>
                    <img src="<%= user.books.last.img %>" width="100" vspace="2">
                  <% end %>
                  <%= user.books.last.impression %><br>
                </div>
                <%= link_to "", user.books.last, class: "book_link" %>
              </div>
            <% end %>
          </li>
          <hr>
          <% @one_above_count = book_count %>
        <% end %>
      </ul>
    </div>
  </div>
</div>