<% if books.any? %>
  <ul>
    <% books.each do |book| %>
      <li style="list-style: none;", class="border post">
        <%= book.user.name %><br>
        <%= book.title %><br>
        <%= book.status %>
        <%= link_to "", book, class: "book_link" %><br>
        <% if book.img.present? %>
          <img src="<%= book.img %>" width="100" vspace="2">
        <% end %>
        <%= book.impression %><br>
      </li>
    <% end %>
  </ul>
  <%= paginate books %>
<% end %>