<div class="row">
  <div class="col-md-4">
    <h3><%= @book.title %></h3>
    <% if @book.img.present? %>
      <img src="<%= @book.img %>" width="80" vspace="2">
    <% end %>

    <%= form_with model: @for_submit, local: true do |f| %>
      <%= f.hidden_field :title, value: @book.title %>
      <%= f.hidden_field :code, value: @book.code %>
      <%= f.hidden_field :img, value: @book.img %>
      <%= f.hidden_field :status, value: "読みたい" %>
      
      <% unless in_bookshelf?(@book.code) %>
        <%= f.submit "読みたい本リストに入れる", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-8">
    <h4>これを読んでいる人たち</h4>
    <ul>
      <% @books_by_code.each do |book| %>
        <li><%= link_to book.user.name, book.user %>
        <br>感想: <%= book.impression %></li>
      <% end %>
    </ul>
  </div>
</div>