<div class="row">
  <div class="col-md-8">
    <h3><%= link_to @book.user.name, @book.user %>の本棚&gt;
    <% if @book.code.present? %>
      <%= link_to @book.title, book_book_path(@book.id) %></h3>
    <% else %>
      <%= @book.title %></h3>
    <% end %>
    
    <% if @book.img.present? %>
      <img src="<%= @book.img %>" width="120" vspace="2">
    <% end %>
    
    <h4>感想: <%= @book.impression %></h4>
    <h4>ステータス: <%= @book.status %></h4>
    <h4>読了日: <%= @book.date %></h4>
    
    <% if @book.page.present? %>
      <h4>ページ数: <%= @book.page %></h4>
      <% if @book.nowpage.present? %>
        <h4>現在のページ数: <%= @book.nowpage %></h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @progress %>%" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <% end %>
    <% end %>
    
    <br>
    <% if current_user == @book.user %>
      <%= link_to '本を編集', edit_book_path(@book.id), class: 'btn btn-outline-success btn-sm' %>
      <%= link_to "本棚から削除", @book, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-outline-danger btn-sm' %>
    <% end %>
  </div>
  
  
  <div class="col-md-4 comment">
    <h3 class="mt-4">コメントを残す</h3>
    <%= form_with(model: @comment, local: true) do |f| %>
      <%= f.hidden_field :book_id, value: @book.id %>
      <div class="input-group">
        <%= f.text_field :content, class: 'form-control' %>
        <span class="input-group-btn"><%= f.submit '送信', class: "btn btn-success" %></span>
      </div>
    <% end %>
  
    <ul>
      <% @book.comments.each do |comment| %>
        <li>
          <%= comment.user.name %>&gt;<%= comment.content %>
          <% if current_user == comment.user %>
            <%= link_to '削除', comment, method: :delete, data: { confirm: "コメントを削除しますか" }, class: 'btn btn-outline-danger btn-sm' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>